@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    font-family: 'Space Mono', monospace;
}
a {
    color: #e60000;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.smallHeader {
    @include smallHeader;
    margin-bottom: 0.6rem;
    position: relative;
    color: $cyan-darker-grayish;

    .tipTotal_header {
        color: $white-main;
    }
}

input[type="text"] {
    @include caratColorTeal;
    text-align: right;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: right;
    color: $cyan-very-Dark;
}

.fnt {
    &-24 {
        font-size: 2.4rem;
    }
    &-20 {
        font-size: 2rem;
    }
    &-heavy  {
        font-weight: 700;
    }
}
