@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    font-family: 'Space Mono', monospace;
}

.smallHeader {
    font-size: 1.6rem;
    margin-bottom: 0.6rem;
    position: relative;
    color: $cyan-darker-grayish;

    .tipTotal_header {
        color: $white-main;
    }
}

input[type="text"] {
    @include caratColorTeal;
    text-align: right;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: right;
    color: $cyan-very-Dark;
}